.header
  %h2.header__title
    = link_to root_path do
      Poemer
  %ul.header__lists
    %li.list
      = link_to destroy_user_session_path, class: 'delete' do
        ログアウト
    %li.list
      = link_to new_blog_path, class: 'post' do
        投稿
    %li.list
      = link_to "ログイン", new_user_session_path
    %li.list
      = link_to new_user_registration_path, class: 'post' do
        新規登録ボタン
