= render partial: 'blogs/header'
.mypage
  .mypagecontent
    %h2.title <あなたの投稿一覧>
    - @blogs.each do |blog|
      .mypagecontents
        .mypage__poems
          .mypage__poems-text
            .mypage__poems-text-box
            - if blog.text.present?
              = blog.text
            .mypage__poems-image-box
            = image_tag blog.image
              - if blog.image.present?
            .mypage__poems-name-box
            = blog.name
            .mypage__poems-time-box
            = format_posted_time(blog.created_at)
  = paginate @blogs
